.carDetail {
  display: flex;
  align-items: flex-start;
  gap: 72px; 
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 120px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 640px; 
}

.carImage {
  width: 100%;
  max-width: 640px; 
  border-radius: 10px;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.bookingForm h3 {
  text-align: center;
}

.bookingForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bookingForm button {
  padding: 10px;
  background-color:var(--primary-color-blue);
  color: var(--primary-color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.bookingForm button:hover {
  background-color:var( --secondary-color-blue);
}

.carInfo {
  width: 488px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.carSpecifications, 
.rentalConditions, 
.features {
  margin-top: 110px; 
}


.description {
  margin-bottom: 54px; 
}

.features h3, .rentalConditions h3 {
  margin-bottom: 10px;
}