.carDetail {
  display: flex;
  align-items: flex-start;
  gap: 72px; 
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 120px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 640px; 
}

.carImage {
  width: 100%;
  max-width: 640px; 
  border-radius: 10px;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.textForm{
  color: var(--primary-color-gray);
  font-size: 16px;
}

.bookingForm h3 {
  text-align: left;
}

.bookingForm input {
  padding: 10px;
  height:44px ;
  border: 1px solid var(--secondary-color-light-gray3) ;
  border-radius: 12px;
  background-color: var(--secondary-color-light-gray3);
}

.buttonContainer{
  display: flex;
  justify-content: center; 
  margin-top: auto; 
}

.bookingForm button {
  width: 156px;
  padding: 10px;

  color: var(--primary-color-white);
 
  background-color:var(--primary-color-blue);
  color: var(--primary-color-white);
  border: none;
  border-radius: 12px;
  cursor: pointer;

}

.bookingForm button:hover {
  background-color:var( --secondary-color-blue);
}

.carInfo {
  width: 488px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.priceCar{
  color: var(--primary-color-blue);
}

.carSpecifications, 

.features {
  margin-top: 110px; 

  
}


.description {
  margin-bottom: 54px; 
}

.features h3, .rentalConditions h3, .carSpecifications  h3 {
  margin-bottom: 10px;
}

.carSpecifications  p {
margin-bottom: 16px;
}

.rentalConditions li, .features li {
  margin-bottom: 16px;
}