.header{
    display: flex;
    align-items: center;
  background-color: var(--secondary-color-light-gray2);
  height: 68px;
}


.linksContainer{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 120px;
}


  .logoLink{
    width: 102px;
    height:16px ;
margin-right: 960px;
  }

  .carLink{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .itemLink a {
    text-decoration: none;
    color: var(--primary-color-black);
    transition: color 0.3s ease; 
  }
  

  .itemLink a:hover, 
  .itemLink a:focus {
    color: var(--primary-color-blue);
    text-decoration: underline; 
  }