
.filterBox {
  display: flex;
  gap: 15px;
  max-width: 1000px;
  margin: 20px auto;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}


.brandName, .rentalPrice, .mileageCount {
  font-size: 16px;
  color: var(--primary-color-gray);
  display: flex;

  gap: 6px;
}


.brandSelect, .priceSelect {
  height: 44px; 
  background-color: var(--secondary-color-light-gray3);
  color: var(--primary-color-gray);
  padding: 10px 15px;
  border: 1px solid var(--secondary-color-light-gray2);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto; 
}




.brandSelect:focus option:hover, 
.priceSelect:focus option:hover {
  color: black; 
  
}

.mileageWrapper {
  display: flex;
  align-items: center; 
  gap: 5px;
}


.mileageInput {
  height: 44px;
  padding: 10px 15px;
  background-color: var(--secondary-color-light-gray3);
  border: 1px solid var(--secondary-color-light-gray2);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}


.searchBtn {
  height: 44px; 
  padding: 10px 24px;
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--secondary-color-blue);
} 

