.filterBox{
    display: flex;
    gap: 15px;
    max-width: 1000px;
    height: 68px;
    margin: 20px auto;
    flex-wrap: wrap;

}


.priceField{

}


.mileageField{

}


.searchBtn{
   
      width: 156px;
      height: 44px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      columns: var( --primary-color-white);
      background-color: var(--primary-color-blue);
}
.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--secondary-color-blue);
}