.filterBox{
    display: flex;
    gap: 15px;
    max-width: 1000px;
    height: 68px;
    margin: 20px auto;
    flex-wrap: wrap;

}


.priceField{

}


.mileageField{

}


.searchBtn{
   
        align-self: flex-end;
        margin-top: 24px;
        padding: 10px 24px;
        background-color:var(--primary-color-blue) ;
        color: var( --primary-color-white);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        min-width: 120px;
}